.txt-box{
    border-radius: 10px;
    padding: 0px;
    margin: 10px 20px;
    border: 1px solid black;
}
.city .district{
    margin-top: 15px !important;
}
ion-input{
    padding-left: 12px !important;
}
.loc-pos{
    position: relative;
    left: 0px;
    top: 10px;
    font-weight: bold;
}
.cityState{
    padding: 0px 15px 0px 15px;
}
