.hr-full{
    background: black;
    margin: 15px;
}
.head-text{
    color: red;
    font-weight: 600;
    margin: 15px;
}
.about_us .desc{
    margin: 15px;
}
ion-icon{
    font-size: 22px;
}
a{
    color: black;
}