<app-header></app-header>
<ion-content class="p-15 about_us">
  <ion-row>
    <ion-label class="ml-15 mt-20 bold">About us</ion-label>
  </ion-row>
  <hr class="hr">
  <hr class="hr-full">
  <h5 class="head-text">In the ancient tradition of Hinduism</h5>
  <div class="text-justify desc">
    In the ancient tradition of Hinduism, Vedic puja stands as a sacred ritual, a bridge between the earthly and the
    divine realms. Rooted in reverence and performed with devotion, the puja is a ceremonial offering, a heartfelt
    communion with celestial energies and deities.From invoking deities to offering various items like flowers, incense,
    and food, Vedic puja pages guide individuals through the spiritual practices and traditions inherent in these
    ceremonies. They often include the chanting of sacred verses or mantras, accompanied by rituals that signify
    devotion, gratitude, and seeking blessings.These pages are valuable resources for those seeking to perform puja
    accurately and reverently, preserving the essence of these ancient rituals while engaging in spiritual practices.
    They can also provide insights into the cultural and religious aspects of Hinduism.
  </div>
  <hr class="hr-full">
  <ion-row class="text-center">
    <ion-col><a href="https://www.facebook.com/people/Vedik-Puja/61553128600494/?mibextid=ZbWKwL"> <ion-icon name="logo-facebook"></ion-icon></a></ion-col>
    <ion-col><ion-icon name="logo-whatsapp"></ion-icon></ion-col>
    <ion-col><a href="https://www.instagram.com/vedik_puja/"><ion-icon name="logo-instagram"></ion-icon></a></ion-col>
    <ion-col><ion-icon name="logo-linkedin"></ion-icon></ion-col>
  </ion-row>
</ion-content>