<app-header></app-header>
<ion-content>
  <img class="bg" src="../../assets/images/bg1.png">
  <ion-avatar class="profile">
    <img [src]="imagepath" alt="Profile Picture">
    <label for="pfile-input" class="edit-bg" ><ion-icon  aria-hidden="true" src="../../assets/icon/edit.svg" class="custom-icon"></ion-icon></label>
    <input type="file" (change)="loadProfileFromDevice($event)"  id="pfile-input" accept="image/png, image/jpeg, image/jpg" style="display:none;">
  </ion-avatar>
  <ion-row >
    <ion-label class="center pt-15 bold">Profile</ion-label>
  </ion-row>
  <fieldset class="txt-box">
    <legend class="ml-10">Name : <span class="req">*</span></legend>
    <ion-input class="pl-15" name="name" [(ngModel)]="formData.name"></ion-input>
  </fieldset>
  <div class="pl-20" *ngIf="!isValidName() && submit">
    <ion-text color="danger">This field is required.</ion-text>
  </div>
  <ion-label class="pl-20">Choose Gender : </ion-label>
  <ion-list class="ml-10">
    <ion-radio-group [(ngModel)]="formData.gender" (ionChange)="gen()">
      <ion-item>
        <ion-radio value="male"></ion-radio>
        <ion-label class="pl-10">Male</ion-label>
     
        <ion-radio value="female"></ion-radio>
        <ion-label class="pl-10">Female</ion-label>
      
        <ion-radio value="other"></ion-radio>
        <ion-label class="pl-10">Other</ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <fieldset class="txt-box">
    <legend class="ml-10">Set Date of Birth :</legend>
    <ion-input value="{{ date | date: 'dd/MM/yyyy' }}" id="date" class="ion-text-start" name="dob"></ion-input> 
    <ion-popover trigger="date" size="cover">
      <ng-template>
        <ion-datetime presentation="date" [(ngModel)]="date" locale="en-US" (ionChange)="setdate()" max="{{maxDate}}"></ion-datetime>
      </ng-template>
    </ion-popover>
  </fieldset>
  <div class="date-icon">
  <ion-icon aria-hidden="true" src="../../assets/icon/calender.svg" class="custom-icon"></ion-icon>
  </div>
  <fieldset class="txt-box" style="margin-top: -30px;">
    <legend class="ml-10">Contact No : <span class="req">*</span></legend>
    <ion-input type="text" class="pl-15" name="contact" [(ngModel)]="formData.mobile_no" readonly></ion-input>
  </fieldset>
  <fieldset class="txt-box">
    <legend class="ml-10">Email : <span class="req">*</span></legend>
    <ion-input class="pl-15" type="email" name="email" [(ngModel)]="formData.email"></ion-input>
  </fieldset>
  <div class="pl-20" *ngIf="!isValidEmail() && submit">
    <ion-text color="danger">This field is required.</ion-text>
  </div> 
  <ion-row class="text-center">
  <ion-button class="btn" (click)="update()">Update Profile</ion-button>
</ion-row>
</ion-content>
