.logo-img{
    width: 75%;
}
.logo-login{
    text-align: center;
    margin-top: 20%;
}
.login-input{
    border: 1px solid black;
    border-radius: 5px;
}
.login-btn{
    margin:15px auto;
    width: 60%;
    border: 1px solid #FFD600;
    --background:linear-gradient(90deg,#E1A751,#D13565);
}
.check-txt1{
    position: relative;
    bottom: 5px;
    font-size: 14px;
    padding-left: 10px;
}
.check-txt2{
    position: relative;
    bottom: 3px;
    font-size: 14px;
    right: 2px;
}
ion-checkbox {
    --border-color: #50D300; 
  }

.mt120{
margin-top: 120px;
}
ion-card{
    box-shadow:none;
    margin: 0px;
    padding: 0px;
}
ion-input{
    width: 95%;
}
