ion-content div {
    font-family: "Kodchasan", sans-serif;
    font-weight: 600;
    overflow-x: hidden;
    margin: 15px;
}
ion-content{
--background: antiquewhite;
}

ion-content li {
   text-align: justify;
}
ion-content p {
   text-align: justify;
}
h3{
    font-weight:bold;
    margin:0px;
}
ul{
padding: 20px;
padding-right: 0px;
}