img{
    width: 100%;
}
.about-puja-card{
background: #FFF0E5;
}
.about-puja-header{
    padding: 0px;
    font-size: 14px;
    font-weight: 700;
}
.about-puja-content{
    padding: 0px;
    text-align: justify;
}
.txt-box{
    border-radius: 10px;
    padding: 0px;
    margin: 20px;
    border: 1px solid black;
}
.pujaHeadImg{
    height: 50%;
    object-fit: cover;
}
.short-card .timer-label {
    font-size: 5px;
}
.short-card .timer-value {
    font-size: 10px;
}
.short-card .timer-item {
    margin: 5px 3px 0px 0px;
}